@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id ="over" class="display-4" onmouseover="hover()" onmouseout="hoverout()">Visual Studio Assignment</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="music-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WIx4srqU3BE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>